<div class="container">
	<h1 class="well">Registration Form</h1>
	
	<div class="alert alert-danger" data-ng-show="error">Problem in creating account. Please try again.</div>
	
	<div class="col-lg-12 well">
		<div class="row">
			<form role="form" data-ng-submit="createAccount()">
				<div class="col-sm-12">

					<div class="row">
						<div class="col-sm-6 form-group">
							<label>User Name</label> 
							<input type="text" placeholder="Enter User Name here" class="form-control" id="userName" name="userName" data-ng-model="userName"/>
						</div>
						<div class="col-sm-6 form-group">
							<label>Password</label>
							<input type="password" placeholder="Enter Password here" class="form-control" id="userPassword" name="userPassword" data-ng-model="userPassword"/>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6 form-group">
							<label>First Name</label> 
							<input type="text" placeholder="Enter First Name here" class="form-control" data-ng-model="firstName"/>
						</div>
						<div class="col-sm-6 form-group">
							<label>Last Name</label> 
							<input type="text" placeholder="Enter Last Name here" class="form-control" data-ng-model="lastName"/>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 form-group">
							<label>E-Mail</label> 
							<input type="text" placeholder="Enter City Name here" class="form-control" data-ng-model="mailId"/>
						</div>
						<div class="col-sm-6 form-group">
							<label>Phone Number</label> 
							<input type="text" placeholder="Enter State Name here" class="form-control" data-ng-model="phoneNum"/>
						</div>
					</div>
					
					<!-- <div class="alert alert-success"><strong>Success!</strong> User Account created successfully!</div>
					<div class="alert alert-danger" data-ng-show="error"><strong>Error!</strong>Unable to create User Account. Please try again.</div>
					 -->

					<button type="submit" class="btn btn-primary">Create Account</button>
				</div>
			</form>
		</div>
	</div>
</div>