<div data-ng-show="authenticated" data-ng-app="mySpringApp"
	data-ng-controller="dataController">
	<h3>Enter Details:</h3>

	<form>
 
	  <div class="form-group row ">
	    <label for="empName" class="col-sm-2 col-form-label">Name : </label>
	    <div class="col-sm-2">
	      <input type="text" class="form-control" data-ng-model="empName" />
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="empName" class="col-sm-2 col-form-label">Job Description : </label>
	    <div class="col-sm-2">
	      <input type="text" class="form-control" data-ng-model="empDesc" />
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="empName" class="col-sm-2 col-form-label">Gender : </label>
	    <div class="col-sm-2">
	      <select data-ng-model="empGender" class="form-control" data-ng-options="status as status for status in statuses"></select>
	    </div>
	  </div>
	  <button type="button" data-ng-click="save()" class="btn btn-primary">Save</button>
	  <button type="button" data-ng-click="clear()" class="btn btn-primary">Reset</button>
	  <button type="button" data-ng-click="refresh()" class="btn btn-primary">Refresh</button>
</form>
	

		<br />
		<h3>Search Results:</h3>
		<table class="table table-striped">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">Name</th>
		      <th scope="col">Job Description</th>
		      <th scope="col">Gender</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr data-ng-repeat="data in dataList">
		      	<td>{{ data.empName }}</td>
				<td>{{ data.empDesc }}</td>
				<td>{{ data.empGender }}</td>
		    </tr>
		    
		  </tbody>
		</table>

</div>
