<div class="alert alert-danger" data-ng-show="error">Problem in login. Please try again.</div>

<div class="login-box">
	<div class="login-box-body">
		<p class="login-box-msg">Sign in to start your session</p>
			<form role="form" data-ng-submit="login()">
				<div class="form-group has-feedback">
				
					<input type="text" id="username" name="username" data-ng-model="credentials.username" 
						placeholder="Enter Username" class="form-control" min="5" maxlength="8" size="30" />
						            
	           		<span class="glyphicon glyphicon-user form-control-feedback"></span>
	           		<span><font color="red"></font></span>
				</div>
				<div class="form-group has-feedback">
				
					<input type="password" id="password" name="password" data-ng-model="credentials.password" 
						placeholder="Enter Password" class="form-control" size="30" />
						            
		            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
		            <span><font color="red"></font></span>
				</div>
				<div class="row">
					
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
					</div>
				</div>
				
			</form>
	</div>
 </div>